include _header.pug

body
    include _navbar.pug
    include _flash.pug

        if user
            div.main
                div.card
                    div.card-body
                        h3 Welcome #{user.username}
                        hr
                        br

                        ul
                            li
                                a(href="/user/" + user._id + "/edit") Edit Profile
                            li
                                a(href="/article/create") Post Article
                            li
                                a(href="/user/logout") Sign Out

        else
            div.main
                div.card
                    div.card-body
                        form(action="/user/login" method="POST")
                            div.form-control
                                h4 Sign In
                                div
                                    input.input(
                                        type="email"
                                        name="email"
                                        placeholder="Email"
                                    )
                                div
                                    input.input(
                                        type="password"
                                        name="password"
                                        placeholder="Password"
                                    )
                                div
                                    input.submit(
                                        type="Submit",
                                        value="Login"
                                    )

                                    a(href="/user/register") Register 
                
include _footer.pug